*{
    margin: 0px;
    border: 0px;
}
.red{
    color: red;
}
.right{
    margin-left: 700px;
}
.dinb{
    display: inline-block;
}
.quote{
    border: 1px solid grey;
    padding: 10px;
}
.narrow{
    width: 400px;
}